
    <body>
        <form [formGroup]="loginForm" (submit)="loginSubmit()" >
            <div class="container-fluid" style="margin-top: 500px;">
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <div class="h-100vh row justify-content-center align-items-center">
                            <div class="col-md-6">
                                <div class="text text-center">
                                    <h1>Thunder Sharp</h1>
                                    <p>Gama Academy</p>
                                </div>
                            </div>
                            <div class="col-md-6 b-right">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" style="width: 46px" id="basic-addon1"><img src="/assets/_ionicons_svg_md-mail.svg" height="20" alt="image"></span>
                                    </div>
                                    <input type="text" placeholder="E-mail" formControlName = "email" class="form-control">
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1"><img src="/assets/_ionicons_svg_md-key.svg" height="20" alt="image"></span>
                                    </div>
                                    <input type="password" placeholder="Senha" formControlName = "password" class="form-control">
                                </div>
                                <button type="submit" [disabled]= "!loginForm.valid" style="background-color: #23ABFE;color: white" class="btn w-100">Login</button>
                                <div class="input-group-prepend">
                                </div>                                
                            </div>
                            
                        </div>
                    </div>
                </div>
        </div>
        </form>
        
    </body>
